spring:
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:postgresql://ipdl.colzhcw9zvnt.us-east-1.rds.amazonaws.com :5432/quesra
    username: postgres
    password: postgres
    driverClassName: org.postgresql.Driver

server:
    port: 8080

springdoc:
  api-docs:
    enabled: true
    path: /api-docs
  swagger-ui:
    path: /swagger-ui