spring:
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:postgresql://containers-us-west-116.railway.app:7972/railway
    username: postgres
    password: SLhyaTs4Yp5fH4xLxisH
    driverClassName: org.postgresql.Driver

server:
    port: 8080

springdoc:
  api-docs:
    enabled: true
    path: /api-docs
  swagger-ui:
    path: /swagger-ui
